body{
    background-color: var(--black);
}
.question-div{
    margin: 50px auto;
    width: 90%;
    height: 80vh;
    border: 1px solid var(--white);
    justify-content: space-evenly;
    font-size: 1.5em;
}
.question-div p{
    border-bottom: 1px solid var(--white);
    padding: 20px;
}
.question-div ul li{
    list-style: none;
    text-align: start;
    padding: 5px;
}